.socials {font-size: 35px; position: absolute; top: 12% !important; left: 0%; z-index: 2; display: flex;
    color: goldenrod; justify-content: left;}

     /*Head Styling*/
 .JE{margin-top: 50px; font-family:f; color: goldenrod;}

 .video {margin-left: 990px; margin-top: 50px; width: 800px; height: 500px;}



 