.JE {
    text-align:Center;
    font-size: 20px;
    text-decoration: line-through;
}



  /*carousel location*/
.cau{margin-left:460px ;}

h5 {
  font-size: 250px;
  font-family:a;
}
h4 {
  font-size: 124px;
 color:rgb(140, 140, 212) !important;
 font-family: a !important;
}
.page-3{
font-size: 180px !important;
color:greenyellow !important;
}

.JE{margin-top: 50px; font-family:f; color: goldenrod; font-size: 100px;}

.gallery_section a {background-color: brown !important;}
.gallery_section a:hover {background-color: goldenrod !important;}

.galleryimg3{}

