.JE {
    text-align:Center;
    font-size: 20px;
    text-decoration: line-through;
}



  /*carousel location*/
.cau{margin-left:460px ;}

h5 {
  font-size: 145px !important;
  font-family:a;
  color: rgba(255, 0, 0, 0.719) !important;
  margin-bottom: 660px !important;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h4 {
  font-size: 124px;
 color:rgb(140, 140, 212) !important;
 font-family: a !important;
}
.page-3{
font-size: 180px !important;
color:greenyellow !important;
}

.JE{margin-top: 50px; font-family:f; color: goldenrod; font-size: 100px;}

.gallery_section a {background-color: brown !important;}
.gallery_section a:hover {background-color: goldenrod !important;}

.galleryimg3{}
/*Gallery Shop Color*/
.gallery_section{background-color: rgb(0, 0, 0) !important;}
/*Text Color*/
.gallery_taital,.gallery_text{color: white !important;}

.price_text {color: green !important;}
body {
  background-color: black !important;
}

.d-block {
  display: block;
  margin-left: 220px !important;
  width: 1400px !important;
}